{% extends 'base.html' %}
{% block page_name %}Forecast{% endblock %}
{% block page_content %}
<div class="background-image fill-page">
    <!-- Card -->
    <div class="container justify-content-center vertical-center center-margin">
        <div class="card">
            <div class="card-body text-center">
                <h1 class="card-title">
                    {{current_weather.city_name}}, {{current_weather.country_name}}
                </h1>
                <h2 class=" card-text mb-30">
                    {{current_weather.day_of_week}} {{current_weather.date}}
                </h2>
                <div class="mb-30">
                    <h1><i class="wi {{current_weather.icon_id}}"></i></h1>
                    <h2 class="card-text">{{current_weather.temperature}}°C</h2>
                    <h3 class="card-text">{{current_weather.description.upper()}}</h3>
                </div>
            </div>
            <div class="card-body text-center">
                <!-- BEGIN : Next days forecast -->
                <div class="row">
                    {% for day in daily_weather %}
                    <div class="col-sm-2 {{ 'weather-next-day-even' if loop.index % 2 == 0 else 'weather-next-day-odd' }}">
                        <h5 class="card-text">{{day.day_of_week}}</h5>
                        <h2><i class="wi {{day.icon_id}}"></i></h2>
                        <h5 class="card-text">{{day.temperature}}°C</h5>
                    </div>
                    {% endfor %}
                </div>
                <!-- END : Next days forecast -->
            </div>
        </div>
    </div>
</div>
{% endblock %}