{% extends 'base.html' %}
{% block page_name %}Forecast{% endblock %}
{% block page_content %}
  <!-- Card -->
  <div class="card bg-light text-center">
    <div class="card-block p-25">
      <h3 class="white">
        <span class="font-size-30">{{current_weather.city_name}}, </span>{{current_weather.country_name}}
      </h3>
      <p class="mb-30">
        <span class="mr-5">{{current_weather.day_of_week.upper()}}</span> {{current_weather.date}}
      </p>
      <div class="mb-30">
        <i class="mr-40 forecast-icon text-top wi {{current_weather.icon_id}}" id="ex4-rain" width="90" height="90"></i>
        <div class="inline-block">
          <span class="font-size-50">{{current_weather.temperature}}°
            <span class="font-size-40">C</span>
          </span>
        </div>
        <span class="text-center">{{current_weather.description}}</span>
      </div>

      <div class="row">
        {% for day in daily_weather %}
        <div class="col-2 {{ 'weather-next-day-even' if loop.index % 2 == 0 else 'weather-next-day-odd' }}">
          <div>
            <div class="mb-10">{{day.day_of_week}}</div>
            <i class="wi {{day.icon_id}} font-size-30 mb-10"></i>
            <div>{{day.temperature}}°
              <span class="font-size-12">C</span>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}