{% extends 'base.html' %}
{% block page_name %}Home{% endblock %}
{% block page_content %}
<div class="col-lg-6 offset-lg-3">
  <div class="row justify-content-center vertical-center">
    <form class="form-inline my-2 my-lg-0" method="post">
      <input class="form-control mr-sm-2" type="search" placeholder="Search a city" autofocus 
      aria-label="Search" name="city" id="city" value="{{ request.form['city'] }}" required>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
 </div>
{% endblock %}