.center_div{
    margin: 0 auto;
    width:30%;
}

.weather-next-day-even {
    background-color: #1D3557;
    color: #A8DADC;
}

.weather-next-day-odd {
    background-color: #A8DADC;
    color: #1D3557;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 90vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.forecast-icon {
  font-size: 25px;
  margin-left: 5px;
}

.bg-custom-light {
    background-color: #F1FAEE;
}

.bg-custom-dark {
    background-color: #1D3557;
}

.bg-custom-red {
    background-color: #D8315B;
}

.navbar-default .navbar-nav > .active{
    color: #000;
    background: #d65c14;
}